{% extends "base.html" %}
{% load game_tags %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Log-in</h1>
    <div>
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% else %}
            <p>Please, use the following form to log-in:</p>
        {% endif %}
        <div>
            <form action="{% url 'account:login' %}" method="post">
                <div class="form-group">
                    {{ form.username.label_tag }}<span class="error"> {{ form.username.errors.as_text }}</span>
                    {{ form.username|add_class_to_formfield:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}<span class="error"> {{ form.password.errors.as_text }}</span>
                    {{ form.password|add_class_to_formfield:"form-control" }}
                </div>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <p>
                    <input type="submit" value="Log-in" class="btn btn-success">
                </p>
            </form>
        </div>
    </div>
{% endblock %}