{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod (method) {
            // These HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if(!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    <script src="{% static 'js/check_online.js' %}"></script>
    <script>
        $(document).ready(function () {
            {% if request.user.is_authenticated %}
                var host = "ws://localhost:8888/check_users/" + {{ request.user.pk }} +"/" ;
            {% else %}
                var host = "ws://localhost:8888/check_users/";
            {% endif %}
            checkOnline(host);
        });
    </script>
    {% block scripts %}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">{% block page_header %}Rock-paper-scissors-Lizard-Spock game{% endblock %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% if request.user.is_authenticated %}
                <h3>Hello, {{ request.user.username }}</h3>
            {% endif %}
            <h3>Navigation</h3>
            <nav>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active">
                        <a href="{% url 'index_view' %}">Main</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li role="presentation">
                            <a href="{% url 'game:create_game' %}">Create game</a>
                        </li>
                        <li role="presentation">
                            <a href="{% url 'account:logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li role="presentation">
                            <a href="{% url 'account:login' %}">Login</a>
                        </li>
                        <li role="presentation">
                            <a href="{% url 'account:register' %}">Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-md-9">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>