{% extends "base.html" %}
{% load game_tags %}
{% block title %}Register{% endblock %}
{% block scripts %}
{% endblock %}
{% block page_header %}Register new user{% endblock %}
{% block content %}
    <h1>
        Sign up
    </h1>
    <div>
        <p>Enter detail to create an account:</p>
        <form action="." method="post">
            <div class="form-group">
                {{ form.username.label_tag }}<span class="error"> {{ form.username.errors.as_text }}</span>
                {{ form.username|add_class_to_formfield:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.password1.label_tag }}<span class="error">{{ form.password1.errors.as_text }}</span>
                {{ form.password1|add_class_to_formfield:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.password2.label_tag }}<span class="error">{{ form.password2.errors.as_text }}</span>
                {{ form.password2|add_class_to_formfield:"form-control" }}
            </div>
            {% csrf_token %}
            <input type="submit" value="Create an account" class="btn btn-success">
        </form>
    </div>
{% endblock %}