{% extends "base.html" %}
{% load game_tags %}
{% block title %}
    Create new game
{% endblock %}
{% block scripts %}
{% endblock %}
{% block page_header %}Create new page{% endblock %}
{% block content %}
    <form action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }}{{ form.title.errors.as_text }}
            {{ form.title|add_class_to_formfield:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.party_time.label_tag }}{{ form.party_time.errors.as_text }}
            {{ form.party_time|add_class_to_formfield:"form-control" }}
        </div>
        <input type="submit" value="Create" class="btn btn-default">
    </form>
{% endblock %}