{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Rock-paper-scissors-Lizard-Spock game
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/game_refresh.js' %}"></script>
    <script>
        $(document).ready(function () {
            checkNewGames();
        });
    </script>
{% endblock %}
{% block page_header %}Main page{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Games created</h2>
                <table class="table table-responsive" id="tableGames">
                    <thead>
                        <tr>
                            <th>Game title</th>
                            <th>Game author</th>
                            <th>Game status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in games %}
                            <tr>
                                <td>{{ game.title }}</td>
                                <td>{{ game.author }}</td>
                                <td>{{ game.get_status_display }}</td>
                                <td>
                                    {% if game.status == PARTICIPANTS_SET %}
                                        <a href="{% url 'game:join_game' game.pk %}">
                                            Join game
                                        </a>
                                    {% elif game.status == GAME_ENDED %}
                                        {% if game.game_winner %}
                                            Winner: {{ game.game_winner.username }}
                                        {% endif %}
                                    {% else %}
                                        Game playing
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">
                                    No games created
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Players online</h2>
                <div id="userlist">
                    {% for user in online_users %}
                        <p id="user{{ user.pk }}">{{ user.username }}</p>
                    {% empty %}
                        No users online
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
