{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    {{ game.title }}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/play_game.js' %}"></script>
    <script>
        $(document).ready(function () {
            var myUsername = '{{ request.user.username }}';
            var gameAuthor = '{{ game.author }}';
            var gameCount = '{{ game.party_time }}';
            var gamePk = '{{ game.pk }}';
            var userPk = '{{ request.user.pk }}';
            playGame(myUsername, gameAuthor, gameCount, gamePk, userPk);
        });
    </script>
{% endblock %}
{% block page_header %}{{ game.title }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            {% if game.status == PARTICIPANTS_SET %}
                <h2 id="game_status">You are waiting opponent</h2>
            {% elif game.status == READY_FOR_GAME %}
                <h2 id="game_status">
                    Your opponent: {% if request.user == game.opponent %}{{ game.author }}{% else %}{{ game.opponent }}{% endif %}
                </h2>
                {% if game.author == request.user %}
                    <a href="#" class="btn btn-success" id="start_game" onclick="StartGame({{ game.pk }}); event.preventDefault();">Start game</a>
                {% endif %}
            {% elif game.status == GAME_STARTED %}
                <h2 id="game_status">
                    Your opponent: {% if request.user == game.opponent %}{{ game.author }}{% else %}{{ game.opponent }}{% endif %}
                </h2>
                <h3 id="roundText">Round #{{ last_round.round_number }}</h3>
            {% endif %}
            <p id="hint"></p>
            <input type="hidden" name="round" id="round" {% if last_round %} value="{{ last_round.pk }}"{% endif %}>
            <div class="form-group">
                <select id="party" class="form-control" {% if game.status < GAME_STARTED %}disabled{% endif %}>
                    {% for choice in choices %}
                        <option value="{{ choice.0 }}" class="form-control">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="makeParty" onclick="makeParty({{ game.pk }}); event.preventDefault();" {% if game.status < GAME_STARTED %}disabled{% endif %}>
                    Send
                </button>
            </div>
            <div class="form-group">
                <button class="btn btn-success" id="getHint" onclick="getHint(); event.preventDefault();" {% if game.status < GAME_STARTED %}disabled{% endif %}>
                    Get hint
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div id="{{ game.party_time }}" class="counter"></div>
            <div id="log">
                {% for round in game_rounds %}
                    {% if round.parties.exists %}
                        {% for party in round.parties.all %}
                            <h4>User: {{ party.user.username }} </h4>
                            <p>Party: {{ party.get_user_choice_display }}</p>
                        {% endfor %}
                        {% if round.is_tie %}
                            <h5>Round #{{ round.round_number }} is tie</h5>
                        {% else %}
                            <h5>Round #{{ round.round_number }} winner is {{ round.winner.username }}</h5>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}